<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Editer un potin</title>
  </head>
  <body>
    <nav class="navbar text-center bg-dark">
        <h1 class="text-light">The gossip Project</h1>
    </nav>
    <div class="container">
      <h2>Edite le potin !</h2>
      <p>Modifie le potin via le formulaire ci-dessous</p>


      <form action='/gossips/<%=id %>/edit/' method='POST'>
        <div class="form-group">
          <label>Auteur</label>
          <input type='text' class="form-control" value="<%=gossip.author %>" name='gossip_author'>
        </div>
        <div class="form-group">
          <label>Potin</label>
          <input type='text' class="form-control" value="<%=gossip.content %>" name='gossip_content'>
        </div>
        <input type='submit'/>
      </form>
      <p class="text-right"><a href="/">Retour à la page d'accueil</a></p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>